---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../bases/stackrox/
# - ./../../bases/grafana/
- ./vpa/


patches:
# - path: ./patches/stackrox/psm.yaml
# - target:
#     group: policy
#     version: v1beta1
#     kind: PodDisruptionBudget
#   patch: |-
#     [
#       {
#         "op": "replace",
#         "path": "/apiVersion",
#         "value": "policy/v1"
#       }
#     ]