---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../bases/stackrox/
- ./vpa/


patches:
# - path: ./patches/stackrox/psm.yaml
# - target:
#     group: policy
#     version: v1beta1
#     kind: PodDisruptionBudget
#   patch: |-
#     [
#       {
#         "op": "replace",
#         "path": "/apiVersion",
#         "value": "policy/v1"
#       }
#     ]
# # Patch the ClusterLogForwarder CR
# - path: clf-s3-config-patch.yaml
#   target:
#     kind: ClusterLogForwarder
#     name: instance

# # Patch the LokiStack CR
# - path: lokistack-secret-patch.yaml
#   target:
#     kind: LokiStack
#     name: instance

# # 3. Apply a name suffix to the entire UAT environment
# nameSuffix: -uat

# # 4. Optional: Add a common label to all resources
# commonLabels:
#   env: uat